extends ui_layout

block content
  .thirteen.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    each val in script
      include ./partials/actorPost
    include ./partials/shareModal
    
block scripts
  script. 
    var script = !{JSON.stringify(script)};
  script(src='/public/js/script.js')
  script(src='/public/js/postFunctionalities.js')

block styles 
  link(type='text/css', rel='stylesheet', href='/public/css/script.css')